a(href="#").btn.btn-48
  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="16" cy="16" r="16" fill="#3E64FF"/>
    <path d="M16.7805 16L13.4805 12.7L14.4231 11.7573L18.6658 16L14.4231 20.2427L13.4805 19.3L16.7805 16Z" fill="white"/>
  </svg>
  span
    block text