section.clients
    .container.grid
      h2.clients__title Клиенты
      p.clients__text Многолетний положительный опыт работы с потребителями, среди которых ведущие российские компании, позволяет нам расширять наше сотрудничество с ними, а также с новыми контрагентами, которые работают на этом или смежном рынке. Это дает возможность увеличивать обороты компании.
      .clients-logos
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")
        .clients-logos__item 
          img(src="assets/images/logo-1.svg", alt="")