section.contact
    .container.grid
      .contact-left
        .contact-left-info
          a(href="tel:8 (4725) 43-61-38").contact-left-info__tel 8 (4725) 43-61-38
          .contact-left-info__adress Старый Оскол, микрорайон Дубрава, квартал 3, дом 4
        .contact-left-files
          a(href="#").contact-left-files__item
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.66634 12.6667H13.333V8H14.6663V13.3333C14.6663 13.5101 14.5961 13.6797 14.4711 13.8047C14.3461 13.9298 14.1765 14 13.9997 14H1.99967C1.82286 14 1.65329 13.9298 1.52827 13.8047C1.40325 13.6797 1.33301 13.5101 1.33301 13.3333V8H2.66634V12.6667ZM9.33301 6H12.6663L7.99967 10.6667L3.33301 6H6.66634V2H9.33301V6Z" fill="white"/>
            </svg>
            | Каталог продукции<span>.pdf</span>
          a(href="#").contact-left-files__item
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.66634 12.6667H13.333V8H14.6663V13.3333C14.6663 13.5101 14.5961 13.6797 14.4711 13.8047C14.3461 13.9298 14.1765 14 13.9997 14H1.99967C1.82286 14 1.65329 13.9298 1.52827 13.8047C1.40325 13.6797 1.33301 13.5101 1.33301 13.3333V8H2.66634V12.6667ZM9.33301 6H12.6663L7.99967 10.6667L3.33301 6H6.66634V2H9.33301V6Z" fill="white"/>
            </svg>
            | О компании<span>.pdf</span>
      .contact-right
        include ../common/form

