section.geography.geography_main
    .container.grid
      h2.geography__title География<br>поставок
      p.geography__text Благодаря наличию собственного логистического отдела, а также многолетнего сотрудничества с ведущими транспортными компаниями, мы можем доставить товар в любую точку России и мира
      .geography-map
        img(src="assets/images/map.svg", alt="")