extends ../template
block title
  | О нас | Импром
block content
  include ../common/header
  include ../common/bread-crumbs
  section.about 
    .container.grid 
      a(href="#").about__file
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.66732 12.6667H13.334V8H14.6673V13.3333C14.6673 13.5101 14.5971 13.6797 14.4721 13.8047C14.347 13.9298 14.1775 14 14.0007 14H2.00065C1.82384 14 1.65427 13.9298 1.52925 13.8047C1.40422 13.6797 1.33398 13.5101 1.33398 13.3333V8H2.66732V12.6667ZM9.33398 6H12.6673L8.00065 10.6667L3.33398 6H6.66732V2H9.33398V6Z" fill="#3E64FF"/>
        </svg>
        | Каталог продукции<span>.pdf</span>
      .about-top
        h1.about-top__title О компании
        p.about-top__text Более 7 лет назад в компании была внедрена система менеджмента качества, в соответствии с требованиями стандарта ISO 9001:2015, что подтверждает надёжность нашей компании как контрагента и является дополнительной гарантией для наших потребителей в успешном сотрудничестве с нами
        a(href="#").about-top__link
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="12" fill="#3E64FF"/>
            <path d="M16.918 12.2772L9.85198 16.9879C9.80179 17.0213 9.74347 17.0404 9.68325 17.0433C9.62302 17.0462 9.56314 17.0327 9.50998 17.0042C9.45683 16.9758 9.41239 16.9334 9.38139 16.8817C9.3504 16.83 9.33402 16.7708 9.33398 16.7105V7.28922C9.33402 7.22892 9.3504 7.16976 9.38139 7.11804C9.41239 7.06633 9.45683 7.02398 9.50998 6.99552C9.56314 6.96706 9.62302 6.95355 9.68325 6.95644C9.74347 6.95932 9.80179 6.97848 9.85198 7.01188L16.918 11.7225C16.9636 11.753 17.0011 11.7942 17.027 11.8426C17.0528 11.891 17.0664 11.945 17.0664 11.9999C17.0664 12.0548 17.0528 12.1088 17.027 12.1572C17.0011 12.2055 16.9636 12.2468 16.918 12.2772Z" fill="white"/>
          </svg>
          | Видеообращение
        .about-top-count
          .about-top-count-item
            span.about-top-count-item__title 11
            span.about-top-count-item__text Лет на рынке
          .about-top-count-item
            span.about-top-count-item__title 500+
            span.about-top-count-item__text Клиентов
          .about-top-count-item
            span.about-top-count-item__title 1000+
            span.about-top-count-item__text Видов продукции
      .about-person
      .about-bottom
        .about-bottom-img 
          img(src="assets/images/about-img.jpg", alt="")
        .about-bottom-desc
          .about-bottom-desc-item
            .about-bottom-desc-item__title Надежность поставок
            .about-bottom-desc-item__text Компания поставляет продукцию для предприятий различных отраслей промышленности, имеет широкий перечень поставщиков, а значительные запасы продукции на складе позволяют обеспечивать бесперебойные поставки продукции потребителям при возникновении непредвиденных ситуаций на рынке.
          .about-bottom-desc-item
            .about-bottom-desc-item__title Надежность поставок
            .about-bottom-desc-item__text Компания поставляет продукцию для предприятий различных отраслей промышленности, имеет широкий перечень поставщиков, а значительные запасы продукции на складе позволяют обеспечивать бесперебойные поставки продукции потребителям при возникновении непредвиденных ситуаций на рынке.
          .about-bottom-desc-item
            .about-bottom-desc-item__title Надежность поставок
            .about-bottom-desc-item__text Компания поставляет продукцию для предприятий различных отраслей промышленности, имеет широкий перечень поставщиков, а значительные запасы продукции на складе позволяют обеспечивать бесперебойные поставки продукции потребителям при возникновении непредвиденных ситуаций на рынке.


  include ../common/footer