extends ../template
block title
  | Контакты | Импром
block content
  include ../common/header
  include ../common/bread-crumbs
  section.contacts
    .container.grid
      .contacts__title Контакты
      .contacts-left
        .contacts-left-info.grid
          .contacts-left-info-wrap
            .contacts-left-info-wrap__name Телефон
            a(href="tel: +7 472 543-61-38").contacts-left-info-wrap__value +7 472 543-61-38
          .contacts-left-info-wrap
            .contacts-left-info-wrap__name Телефон
            a(href="tel: +7 472 543-61-38").contacts-left-info-wrap__value +7 472 543-61-38
          .contacts-left-info-wrap
            .contacts-left-info-wrap__name Телефон
            a(href="tel: +7 472 543-61-38").contacts-left-info-wrap__value +7 472 543-61-38
        .contacts-left-map
        .contacts-left-info.grid
          .contacts-left-info-wrap
            .contacts-left-info-wrap__name Белгородская область
            .contacts-left-info-wrap__value Старый Оскол, микрорайон Дубрава, квартал 3, дом 4
          .contacts-left-info-wrap
            .contacts-left-info-wrap__name Директор
            .contacts-left-info-wrap__value Кожевников Владимир Николаевич
      .contacts-right
        .contacts-right__title Реквизиты компании
        .contacts-right__text ООО "Импром"
        .contacts-right__download
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.66732 12.6667H13.334V8H14.6673V13.3333C14.6673 13.5101 14.5971 13.6797 14.4721 13.8047C14.347 13.9298 14.1775 14 14.0007 14H2.00065C1.82384 14 1.65427 13.9298 1.52925 13.8047C1.40422 13.6797 1.33398 13.5101 1.33398 13.3333V8H2.66732V12.6667ZM9.33398 6H12.6673L8.00065 10.6667L3.33398 6H6.66732V2H9.33398V6Z" fill="#3E64FF"/>
          </svg>
          | Скачать
        .contacts-right-req
          .contacts-right-req-wrap
            .contacts-right-req-wrap__name ИНН
            .contacts-right-req-wrap__value 3128074227
          .contacts-right-req-wrap
            .contacts-right-req-wrap__name ИНН
            .contacts-right-req-wrap__value 3128074227
          .contacts-right-req-wrap
            .contacts-right-req-wrap__name ИНН
            .contacts-right-req-wrap__value 3128074227
          .contacts-right-req-wrap
            .contacts-right-req-wrap__name ИНН
            .contacts-right-req-wrap__value 3128074227
          .contacts-right-req-wrap
            .contacts-right-req-wrap__name ИНН
            .contacts-right-req-wrap__value 3128074227
          .contacts-right-req-wrap
            .contacts-right-req-wrap__name ИНН
            .contacts-right-req-wrap__value 3128074227
          .contacts-right-req-wrap
            .contacts-right-req-wrap__name ИНН
            .contacts-right-req-wrap__value 3128074227
  include ../common/footer