extends ../template
block title
  | Главная | Импром
block content
  include ../common/header
  section.banner
    .container.grid 
      .banner-block
        h1.banner__title Надёжный поставщик продукции для промышленных предприятий
        p.banner__text Компания поставляет продукцию для предприятий различных отраслей промышленности, имеет широкий перечень поставщиков, а значительные запасы изделий на складе обеспечивают бесперебойные поставки потребителям при возникновении непредвиденных ситуаций на рынке.
        .banner-block-bottom 
          include ../common/btn-48
            block text 
              | Смотреть продукцию
          .banner-video
            button.banner-video__btn(data-video="assets/video/da.mp4")
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="12" fill="currentColor"/>
                <path d="M16.917 12.2772L9.85101 16.9879C9.80081 17.0213 9.74249 17.0404 9.68227 17.0433C9.62204 17.0462 9.56216 17.0327 9.50901 17.0042C9.45585 16.9758 9.41141 16.9334 9.38042 16.8817C9.34942 16.83 9.33304 16.7708 9.33301 16.7105V7.28922C9.33304 7.22892 9.34942 7.16976 9.38042 7.11804C9.41141 7.06633 9.45585 7.02398 9.50901 6.99552C9.56216 6.96706 9.62204 6.95355 9.68227 6.95644C9.74249 6.95932 9.80081 6.97848 9.85101 7.01188L16.917 11.7225C16.9627 11.753 17.0001 11.7942 17.026 11.8426C17.0519 11.891 17.0654 11.945 17.0654 11.9999C17.0654 12.0548 17.0519 12.1088 17.026 12.1572C17.0001 12.2055 16.9627 12.2468 16.917 12.2772Z" fill="white"/>
              </svg>
              | Видео о компании
  include ../common/video-popup
  section.catalog.catalog_main
    .container.grid 
      .catalog-desc
        h2.catalog-desc__title Направления продукции
        p.catalog-desc__text Наличие различных поставщиков дает нам возможность выбора и поставки потребителям продукции наилучшего качества и конкурентным ценам.
      a(href="#").catalog__file
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.66634 12.6667H13.333V8H14.6663V13.3333C14.6663 13.5101 14.5961 13.6797 14.4711 13.8047C14.3461 13.9298 14.1765 14 13.9997 14H1.99967C1.82286 14 1.65329 13.9298 1.52827 13.8047C1.40325 13.6797 1.33301 13.5101 1.33301 13.3333V8H2.66634V12.6667ZM9.33301 6H12.6663L7.99967 10.6667L3.33301 6H6.66634V2H9.33301V6Z" fill="currentColor"/>
        </svg>
        | Каталог продукции<span>.pdf</span>
      .grid.catalog-grid
        include ../common/catalog-item
        include ../common/catalog-item
        include ../common/catalog-item
        include ../common/catalog-item
        include ../common/catalog-item
        include ../common/catalog-item
  section.about.about_main
    .container.grid 
      a(href="#").about__link
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="12" cy="12" r="12" fill="#3E64FF"/>
          <path d="M16.918 12.2772L9.85198 16.9879C9.80179 17.0213 9.74347 17.0404 9.68325 17.0433C9.62302 17.0462 9.56314 17.0327 9.50998 17.0042C9.45683 16.9758 9.41239 16.9334 9.38139 16.8817C9.3504 16.83 9.33402 16.7708 9.33398 16.7105V7.28922C9.33402 7.22892 9.3504 7.16976 9.38139 7.11804C9.41239 7.06633 9.45683 7.02398 9.50998 6.99552C9.56314 6.96706 9.62302 6.95355 9.68325 6.95644C9.74347 6.95932 9.80179 6.97848 9.85198 7.01188L16.918 11.7225C16.9636 11.753 17.0011 11.7942 17.027 11.8426C17.0528 11.891 17.0664 11.945 17.0664 11.9999C17.0664 12.0548 17.0528 12.1088 17.027 12.1572C17.0011 12.2055 16.9636 12.2468 16.918 12.2772Z" fill="white"/>
        </svg>
        | Видеообращение
      h1.about__title О компании
      a(href="#").about__file
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.66732 12.6667H13.334V8H14.6673V13.3333C14.6673 13.5101 14.5971 13.6797 14.4721 13.8047C14.347 13.9298 14.1775 14 14.0007 14H2.00065C1.82384 14 1.65427 13.9298 1.52925 13.8047C1.40422 13.6797 1.33398 13.5101 1.33398 13.3333V8H2.66732V12.6667ZM9.33398 6H12.6673L8.00065 10.6667L3.33398 6H6.66732V2H9.33398V6Z" fill="#3E64FF"/>
        </svg>
        | Каталог продукции<span>.pdf</span>
      p.about__text Более 7 лет назад в компании была внедрена система менеджмента качества, в соответствии с требованиями стандарта ISO 9001:2015, что подтверждает надёжность нашей компании как контрагента и является дополнительной гарантией для наших потребителей в успешном сотрудничестве с нами
      .about-count
        .about-count-item
          span.about-count-item__title 11
          span.about-count-item__text Лет на рынке
        .about-count-item
          span.about-count-item__title 500+
          span.about-count-item__text Клиентов
        .about-count-item
          span.about-count-item__title 1000+
          span.about-count-item__text Видов продукции
      a(href="#").about-person
        .about-person__img
          img(src="assets/images/about-man.svg", alt="")
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="16" cy="16" r="16" fill="#3E64FF"/>
            <path d="M21.25 16.6107L14.184 21.3213C14.1338 21.3547 14.0755 21.3739 14.0153 21.3768C13.9551 21.3796 13.8952 21.3661 13.842 21.3377C13.7889 21.3092 13.7444 21.2669 13.7134 21.2152C13.6824 21.1634 13.666 21.1043 13.666 21.044V11.6227C13.666 11.5624 13.6824 11.5032 13.7134 11.4515C13.7444 11.3998 13.7889 11.3574 13.842 11.329C13.8952 11.3005 13.9551 11.287 14.0153 11.2899C14.0755 11.2928 14.1338 11.3119 14.184 11.3453L21.25 16.056C21.2957 16.0864 21.3331 16.1277 21.359 16.176C21.3849 16.2244 21.3984 16.2784 21.3984 16.3333C21.3984 16.3882 21.3849 16.4422 21.359 16.4906C21.3331 16.539 21.2957 16.5802 21.25 16.6107Z" fill="white"/>
          </svg>
        .about-person-text
          span.about-person-text__name Иванов Иванов
          span.about-person-text__comment Видеообращение

      .about-bottom
        .about-bottom-img 
          img(src="assets/images/about-img.jpg", alt="")
        .about-bottom-desc
          .about-bottom-desc-item
            .about-bottom-desc-item__title Надежность поставок
            .about-bottom-desc-item__text Компания поставляет продукцию для предприятий различных отраслей промышленности, имеет широкий перечень поставщиков, а значительные запасы продукции на складе позволяют обеспечивать бесперебойные поставки продукции потребителям при возникновении непредвиденных ситуаций на рынке.
          .about-bottom-desc-item
            .about-bottom-desc-item__title Надежность поставок
            .about-bottom-desc-item__text Компания поставляет продукцию для предприятий различных отраслей промышленности, имеет широкий перечень поставщиков, а значительные запасы продукции на складе позволяют обеспечивать бесперебойные поставки продукции потребителям при возникновении непредвиденных ситуаций на рынке.
          .about-bottom-desc-item
            .about-bottom-desc-item__title Надежность поставок
            .about-bottom-desc-item__text Компания поставляет продукцию для предприятий различных отраслей промышленности, имеет широкий перечень поставщиков, а значительные запасы продукции на складе позволяют обеспечивать бесперебойные поставки продукции потребителям при возникновении непредвиденных ситуаций на рынке.
  include ../common/geography
  include ../common/clients
  include ../common/contact
  include ../common/footer