extends ../template
block title
  | Wtf
block content
  include ../common/header
  include ../common/bread-crumbs
  section.publication
    .container.grid
        .publication-source
          .publication-source__date 10.09.2021
          .publication-source__from Экспертная статья
        .publication__title Контрольные исследования показателей качества совместно с Воронежским Государственным Университетом
        .publication-author
          .publication-author__img
            img(src="assets/images/about-man.svg", alt="")
          .publication-author-text
            .publication-author-text__name Иванов Иван
            .publication-author-text__status Эксперт
        .content
          .publication__img
           img(src="assets/images/about-img.jpg", alt="")
        .content
          p СМИ не всегда корректно рассказывают о событиях, происходящих в мире науки. Они любят приманивать читателей заголовками вроде «Ученые доказали, что фейхоа продлевает жизнь», «Ученые обнаружили, что розовые единороги распространяют ВИЧ». А помните, как нас пугали новости про мутации нового коронавируса? На самом деле ученые не доказали это — так мы и назвали новую рубрику.<br><br>Начнем символично — с яблока.<br><br>Не так давно в журнале Stem Cell Reports была опубликована работа, в которой ученые исследовали вещества, содержащиеся в мякоти и кожуре яблок. Им было интересно узнать, как эти соединения могут влиять на нейрогенез гиппокампа — образование новых нейронов в части головного мозга, которая отвечает за преобразование памяти из кратковременной в долговременную (а еще за навигацию и ориентацию в пространстве). После публикации по новостям разлетелась информация о том, что яблоки помогут запоминать больше и лучше. Хотя у исследования были совсем другие выводы.
        .content
          .publication__text_border
            b Употребление яблок помогает «омолодить» мозг
            p Выяснили учёные из Университета Квинсленда
        h2 Яблоки не улучшают память
        .content
          p А может быть, и улучшают, но делать такие выводы на основании данной статьи не корректно. Во-первых, исследование проводилось на мышах и на их нервных клетках, то есть в пробирке, и переносить полученные результаты на человека неправильно. Во-вторых, ученые сами пишут о том, что от добавления яблочного сока не наблюдалось никакого улучшения памяти.
        h2 Что на самом деле выяснили ученые
        .content
          p Ученые исследовали несколько веществ, содержащихся в яблоках. Кверцетин — это пигмент, который также присутствует во многих других фруктах и овощах, например капусте, брокколи, винограде, помидорах. И 3,5-дигидроксибензойную кислоту, которая также встречается в природе и есть в организме человека. Ученые добавляли эти вещества в чашки Петри, вводили мышам с помощью инъекций или давали съесть и смотрели на изменения нейронов или активность мышей в лабиринтах. В результате экспериментов ученые пришли к таким выводам:
          ul
            li 
              p Кверцетин способствует выживанию и дифференцировке стволовых клеток в нервные клетки гиппокампа. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto sint amet cum.
              p Стволовые клетки — это молодые клетки, которые еще не определились, кем они будут, когда вырастут. Они созревают и становятся какой-то тканью в нашем организме, в данном случае становятся нервными клетками гиппокампа. А ученые поняли, что кверцетин может им в этом помочь.
            li
              p Кверцетин способствует выживанию и дифференцировке стволовых клеток в нервные клетки гиппокампа. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto sint amet cum.
              p Стволовые клетки — это молодые клетки, которые еще не определились, кем они будут, когда вырастут. Они созревают и становятся какой-то тканью в нашем организме, в данном случае становятся нервными клетками гиппокампа. А ученые поняли, что кверцетин может им в этом помочь.
            li
              p Кверцетин способствует выживанию и дифференцировке стволовых клеток в нервные клетки гиппокампа. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto sint amet cum.
              p Стволовые клетки — это молодые клетки, которые еще не определились, кем они будут, когда вырастут. Они созревают и становятся какой-то тканью в нашем организме, в данном случае становятся нервными клетками гиппокампа. А ученые поняли, что кверцетин может им в этом помочь.
        h2 А яблоки все-таки полезны
        .content.grid
          p Есть килограммами яблоки и уповать на то, что из-за этого вы станете умнее, точно не стоит. Но яблоки — одни из самых доступных и популярных фруктов, которые смогут принести пользу здоровью.<br><br><span>Одно яблоко</span> среднего размера содержит около 95 калорий, 0 грамм жира, 1 грамм белка, 25 грамм углеводов, 19 грамм полезного природного сахара и 3 грамма клетчатки. Яблоки — отличный источник витамина С и фитохимических веществ, таких как пектин — тип растворимой клетчатки, которая может помочь предотвратить запор и способствовать снижению «плохого» холестерина (ЛПНП) в крови.<br><br>В ряде исследований изучали влияние яблок в рационе питания на здоровье человека, и вот что выяснили.
          h3 Влияние на сердечно-сосудистую систему
          i Ученые проанализировали пять клинических исследований о влиянии фруктов на сердечно-сосудистые заболевания и обнаружили улучшение сердечно-сосудистых параметров (снижение триглицеридов и холестерина ЛПНП) при употреблении цельных свежих яблок.<br><br>Исследования ишемической болезни сердца и потребления флавоноидов, включая кверцетин из яблок, показывают неоднозначные результаты. <span>Исследование, проведенное с участием более 66 000 женщин</span>, показало, что при сравнении максимального и минимального потребления флавоноидов не было никакой разницы в частоте сердечных приступов или смертей от сердечных заболеваний. Когортное исследование с участием почти 75 000 шведских мужчин и женщин в течение десяти лет обнаружило значительную связь: более низкий риск инсульта наблюдался в группе с самым высоким потреблением яблок по сравнению с минимальным потреблением.
          hr
          h3 Сахарный диабет 2-го типа
          i Флавоноиды, содержащиеся в яблоках, помогают защитить клетки поджелудочной железы от повреждений. Эта железа отвечает за секрецию инсулина в ответ на дополнительный сахар в крови. Эпидемиологическое исследование более 38 000 женщин, которое проводилось в течение почти девяти лет, подтвердило положительную связь между употреблением яблок и риском развития диабета 2-го типа. У тех, кто ел одно или несколько яблок в день, риск диабета 2-го типа был на 28% ниже, чем у тех, кто их не ел.
          hr
          h3 Контроль веса
          i Волокна в яблоках замедляют пищеварение, помогая чувствовать большее удовлетворение после еды. После изучения трех больших проспективных исследований с участием 133 468 мужчин и женщин в течение 24 лет ученые обнаружили, что более высокое потребление богатых клетчаткой фруктов с низкой гликемической нагрузкой, особенно яблок и груш, было связано с наименьшим увеличением веса с течением времени. Употребление в пищу продуктов с низким гликемическим индексом, как правило, вызывает все меньшие и меньшие всплески сахара в крови, что в дальнейшем может уменьшить чувство голода и предотвратить переедание.
          
  include ../common/footer
