.header {
  .container {
    height: var(--root-header-height);
    align-items: center;
  }
  &-logo {
    grid-column: 1 / 5;
    svg {
      transition: color .3s;
    }
    &:hover {
      svg {
        @media screen and (min-width: 1024px) {
          color: var(--root-color-primary-hover);
        }
      }
    }
    &:active {
      svg {
        @media screen and (min-width: 1024px) {
          color: var(--root-color-primary-active);
        }
      }
    }
  }
  &-nav {
    grid-column: 5 / 10;
    &__link {
      @extend %defaultLink;
      & + & {
        margin-left: 24px;
      }
    }
  }
  &-phone {
    @extend %defaultLink;
    font-weight: 600;
    justify-content: flex-end;
    grid-column: 10 / -1;
  }
}