:root {
  --root-font-size: 10px;

  --root-layout-offset: 40px;
  --root-header-height: 80px;

  --root-color-black-500: #000000;
  --root-color-black-400: #333333;
  --root-color-black-300: #666666;
  --root-color-black-200: #999999;
  --root-color-black-100: #CCCCCC;
  --root-color-black-050: #F0F1F2;
  --root-color-black-000: #FFFFFF;

  --root-color-blue-100: #CDEAF8;

  --root-color-primary: #3E64FF;
  --root-color-primary-hover: #0A3AFF;
  --root-color-primary-active: #002AD6;

  --root-color-success: #107500;
  --root-color-warn: #C30000;
}
